<web-app>

<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ExpenseServlet</servlet-name>
    <servlet-class>controller.ExpenseServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ExpenseServlet</servlet-name>
    <url-pattern>/ExpenseServlet</url-pattern>
</servlet-mapping>

</web-app>